.about-profile{
	@extend .box-wrapper;
	
	.profile{
		@extend .box-wrapper;

		p{
			line-height: 30px;
			font-size: 14px;
			text-align: justify;
		}
	}

	.vision-mission{
		position: relative;

		// &:after {
		//   @include triangle-bottom($color-white);
		// }

		img{
			margin: auto;
			margin-top: 50px;
			display: table;
		}

		.title{
			font-family: open-sans-bold;
			font-size: 25px;
			color: $color-black;
			margin-bottom: 15px;
		}

		ol{
			padding-left: 15px;

			li{
				line-height: 30px;
				font-size: 14px;
			}
		}
	}
}

.about-management{
	@extend .box-wrapper;

	.body-management{
		@extend .box-wrapper;
		border-bottom: 1px solid #CCCCCC;
		margin-bottom: 20px;
		padding: 0px 0px 20px 0px;

		.content-left{
			width: 100%;

			.image{
				overflow: hidden;
				width: 280px;
				height: 280px;
				background: $color-gray-dark;
				margin: auto;
				margin-bottom: 10px;

				img{
					display: table;
					margin: auto;
					width: auto;
					height: 100%;
				}
			}

			.description{
				@extend .box-wrapper;
				text-align: center;

				.name{
					font-family: open-sans-bold;
					font-size: 16px;
					color: $color-gray-dark;
				}

				.position{
					font-family: open-sans-light;
					font-size: 14px;
					color: $color-gray-dark;
				}
			}
		}

		.content-right{
			@extend .box-wrapper;

			p{
				line-height: 25px;
				text-align: justify;
			}
		}
	}
}

.about-awards{
	@extend .box-wrapper;

	.box-awards{
		width: 100%;

		.image{
			overflow: hidden;
			width: 100%;
			height: 350px;
			background: #CCCCCC;
			margin-bottom: 30px;

			&:hover{
				border-color: #999999;
				-webkit-box-shadow: 0 0 15px 3px rgba(0,0,0,0.10);
				box-shadow: 0 0 15px 3px rgba(0,0,0,0.10);
			}

			img{
				display: table;
				margin: auto;
				width: auto;
				height: 100%;
			}
		}
	}
}