.alif-grid-news{
	@extend .box-wrapper;

	.box-grid-news{
		@extend .box-wrapper;

		.list-grid-news{
			width: 25%;
			float: left;
			z-index: 999;
			border: 1px solid $color-white;
			cursor: pointer;
			@include transition(0.4s);

			&:hover{
				img {
				  -moz-transform: scale(1.1);
				  -webkit-transform: scale(1.1);
				  transform: scale(1.1);
				}

				.overlay{
					position: absolute;
					background: rgba(0, 0, 0, 0.58);
					width: 100%;
					height: 100%;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					display: table;
					margin: auto;
					@include transition(0.4s);

					a{
						margin: auto;
				    display: table;
				    margin-top: 40%;
					}
				}
			}

			.image{
				overflow: hidden;
				background: #111111;
				width: 100%;
				height: 250px;
				position: relative;

				img{
					width: auto;
					height: 100%;
					display: table;
					margin: auto;
					@include transition(0.4s);
				}
			}

			.content{
				@extend .box-wrapper;
				padding: 15px;

				.title{
					font-family: open-sans-bold;
					font-size: 16px;
					margin-bottom: 5px;
					color: $color-white;
				}

				.author-date{
					color: $color-white;
					font-size: 12px;
				}
			}
		}
	}
}

.alif-carousel-news{
	@extend .box-wrapper;

	.box-news{
		@extend .box-wrapper;

		.list-news{
			@extend .box-wrapper;
			border: #CCCCCC;
			background: $color-white;
			position: relative;
			border: 1px solid #DDDDDD;

			&:hover{
				border-color: #999999;
				-webkit-box-shadow: 0 0 15px 3px rgba(0,0,0,0.10);
				box-shadow: 0 0 15px 3px rgba(0,0,0,0.10);
			}

			.image{
				// position: relative;
				width: 100%;
				height: 200px;
				overflow: hidden;
				background: $color-gray-dark;

				.box-date{
					@extend .box-wrapper;
					position: absolute;
					width: 50px;
					float: left;
					text-align: center;
					text-transform: uppercase;

					.date{
						width: 100%;
				    background: $color-alif-green;
				    color: #FFFFFF;
				    font-family: open-sans-bold;
				    font-size: 30px;
					}

					.month{
						width: 100%;
						background: $color-alif-purple;
						font-family: open-sans-light;
						font-size: 18px;
						color: $color-white;
					}
				}

				img{
					width: auto;
					height: 100%;
					display: table;
					margin: auto;
				}
			}

			.content-short{
				background: $color-white;
				@extend .box-wrapper;
				padding: 15px;

				.title{
					font-family: open-sans-bold;
					font-size: 16px;
					color: $color-gray-dark;
					margin-bottom: 10px;
				}

				.description{
					font-family: open-sans-light;
					font-size: 14px;
					line-height: 20px;
					text-align: justify;
					margin-bottom: 10px;
				}
			}
		}
	}
}