.bg-white{
	background-color: $color-white;
}

.bg-gray-light{
	background-color: $color-gray-light;
}

.bg-alif-purple{
	background-color: $color-alif-purple;
}

.bg-alif-green{
	background-color: $color-alif-green;
}