// START FOOTER WRAPPER
.footer-wrapper{
	display: inline-block;
	width: 100%;

	.footer-one{
		background-color: #111111;
		border-top: 5px solid $color-alif-green;
		display: inline-block;
		width: 100%;
		padding: 50px 0px;

		.f-content-one{
			background: transparent;
			margin-top: -10em;
			margin-bottom: 3em;
			height: 180px;
			
			.box-list{
				@extend .box-wrapper;
				
				.list-section-content{
					width: 25%;
			    float: left;
			    display: inline-block;
			    padding: 30px 0px;
			    text-align: center;
			    border-top: 5px solid $color-alif-green;

					.icon{
						background-color: transparent;
						width: 70px;
						height: 70px;
						margin: auto;
						display: table;
						@include border-radius(50px);
						border: 1px solid $color-white;
						margin-bottom: 20px;

						i{
							color: $color-white;
							font-size: 30px;
							margin-top: 18px;
						}
					}

					.name{
						color: $color-white;
					}
				}
			}
		}

		.f-content-two{
			width: 100%;
			display: inline-block;
			
			.title-top{
				margin-bottom: 20px;
				font-size: 16px;
				text-transform: uppercase;
				letter-spacing: 1px;
				color: $color-alif-green;
				font-weight: bold;
			}

			ul{
				padding-left: 0px;
				margin-bottom: 0px;

				li{
					list-style: none;
					margin-bottom: 15px;

					&.last-child{
						margin-bottom: 10px;
					}

					a{
						color: $color-white;
						text-decoration: none;

						&:hover{

						}
					}
				}
			}
		}
	}

	.footer-two{
		width: 100%;
		display: inline-block;
		background-color: #333333;
		margin-bottom: -5px;

		.corpyright{
			text-align: center;
			padding: 15px 0px;

			p{
				font-size: 12px;
				color: $color-white;
				margin-bottom: 0px;
			}
		}
	}
}
// END FOOTER WRAPPER